.container{
    position: absolute;


    width: 70%;
    height: 70%;
     

    left: 50%;
  
  
    top: 50%;
  
  
    transform: translate(-50%, -50%);
  
  
    border: 5px solid lightslategray;
  
  
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

#message-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    
}

.form-group {
    margin:10px;
    text-align: center;
}
.form-control {
    border-bottom: 3px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.submit-btn{
    background-color: black;
    color: white;
   
}







